<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MiniMvc" type="MiniMvc.Configuration.MiniMvcConfigurationSection, MiniMvc"  />
	</configSections>
	<miniMvc>
		<viewEngine viewsPath="" viewExtension="" />
		<routes router="Namespace.IMiniMvcRoutesProvider, AssemblyName">
			<route name="RelatorioDeLaudos" url="reports/laudos" controller="Reports" action="Laudos" />
		</routes>
	</miniMvc>
</configuration>